/vendor
/node_modules
/public/storage
Homestead.json
Homestead.yaml
.env
public/images/articles/
/nbproject/private/
/resources/assets/bower/
/public/css/*
/public/js/*
/public/images/avatars/*
!/public/images/avatars/default.png
/public/fonts/
.vagrant
